body {
    background-color: #ebeff5;
}

#image-hm {
	width: 150px;
	height: 150px;
	margin-left: 20%;
}

#image-title{
	margin-left: 10%;
}

.card {
	background-color: #CFECD8;
    text-align: center;
    width: 400px;
    margin-left: 50px;
    margin-top: 50px;

}

.card-title{
	margin-left: 5%;
}

#bottom-text{
	margin-left: 50px;
}

#hidden-word{
	margin-left: 4%;
}

#letter-list{
	margin-left: 4%;
}

#result-text{
	margin-left: 4%;
}

#messages-error {
	margin-left: 50px;
}