{% extends 'main_game/main.html' %}
{% load static %}

{% block content %}
	<div class="row">
		<div class="col-md-7">
			<h4 id="image-title">Hangman:</h4>
			<img id="image-hm" src="{{ image }}">
		</div>
		<div class="col-md-3">
			<h4 class="card-title">Lives left:</h4>
			<h1 class="card-title">{{ game.lives }}</h1>
		</div>
	</div>
	<hr>
	<div id="hidden-word">
		<h5>Hidden word:</h5><br>
		{% for letter in hidden_word %}
			<h3 class="btn btn-success btn-lg">{{ letter }}</h3>
		{% endfor %}	
	</div>
	
	<hr>
	<div id="letter-list">
		<h5>Choose Letter:</h5>
		<form method="POST">
			{% csrf_token %}
			<input type="hidden" name="game_id" value="{{ game.id }}"/>
			<button class="btn btn-info" type="submit" name="letter" value="A" {% if "A" in b_disabled %} disabled="disabled" {% endif %}>A</button>
			<button class="btn btn-info" type="submit" name="letter" value="B" {% if "B" in b_disabled %} disabled="disabled" {% endif %}>B</button>
			<button class="btn btn-info" type="submit" name="letter" value="C" {% if "C" in b_disabled %} disabled="disabled" {% endif %}>C</button>
			<button class="btn btn-info" type="submit" name="letter" value="D" {% if "D" in b_disabled %} disabled="disabled" {% endif %}>D</button>
			<button class="btn btn-info" type="submit" name="letter" value="E" {% if "E" in b_disabled %} disabled="disabled" {% endif %}>E</button>
			<button class="btn btn-info" type="submit" name="letter" value="F" {% if "F" in b_disabled %} disabled="disabled" {% endif %}>F</button>
			<button class="btn btn-info" type="submit" name="letter" value="G" {% if "G" in b_disabled %} disabled="disabled" {% endif %}>G</button>
			<button class="btn btn-info" type="submit" name="letter" value="H" {% if "H" in b_disabled %} disabled="disabled" {% endif %}>H</button>
			<button class="btn btn-info" type="submit" name="letter" value="I" {% if "I" in b_disabled %} disabled="disabled" {% endif %}>I</button>
			<button class="btn btn-info" type="submit" name="letter" value="J" {% if "J" in b_disabled %} disabled="disabled" {% endif %}>J</button>
			<button class="btn btn-info" type="submit" name="letter" value="K" {% if "K" in b_disabled %} disabled="disabled" {% endif %}>K</button>
			<button class="btn btn-info" type="submit" name="letter" value="L" {% if "L" in b_disabled %} disabled="disabled" {% endif %}>L</button>
			<button class="btn btn-info" type="submit" name="letter" value="M" {% if "M" in b_disabled %} disabled="disabled" {% endif %}>M</button>
			<button class="btn btn-info" type="submit" name="letter" value="N" {% if "N" in b_disabled %} disabled="disabled" {% endif %}>N</button>
			<button class="btn btn-info" type="submit" name="letter" value="O" {% if "O" in b_disabled %} disabled="disabled" {% endif %}>O</button>
			<button class="btn btn-info" type="submit" name="letter" value="P" {% if "P" in b_disabled %} disabled="disabled" {% endif %}>P</button>
			<button class="btn btn-info" type="submit" name="letter" value="Q" {% if "Q" in b_disabled %} disabled="disabled" {% endif %}>Q</button>
			<button class="btn btn-info" type="submit" name="letter" value="R" {% if "R" in b_disabled %} disabled="disabled" {% endif %}>R</button>
			<button class="btn btn-info" type="submit" name="letter" value="S" {% if "S" in b_disabled %} disabled="disabled" {% endif %}>S</button>
			<button class="btn btn-info" type="submit" name="letter" value="T" {% if "T" in b_disabled %} disabled="disabled" {% endif %}>T</button>
			<button class="btn btn-info" type="submit" name="letter" value="U" {% if "U" in b_disabled %} disabled="disabled" {% endif %}>U</button>
			<button class="btn btn-info" type="submit" name="letter" value="V" {% if "V" in b_disabled %} disabled="disabled" {% endif %}>V</button>
			<button class="btn btn-info" type="submit" name="letter" value="W" {% if "W" in b_disabled %} disabled="disabled" {% endif %}>W</button>
			<button class="btn btn-info" type="submit" name="letter" value="X" {% if "X" in b_disabled %} disabled="disabled" {% endif %}>X</button>
			<button class="btn btn-info" type="submit" name="letter" value="Y" {% if "Y" in b_disabled %} disabled="disabled" {% endif %}>Y</button>
			<button class="btn btn-info" type="submit" name="letter" value="Z" {% if "Z" in b_disabled %} disabled="disabled" {% endif %}>Z</button>
		</form>
	</div>
	
	<hr>
	<div id="result-text">
		{% if game.status == 'win' %}
			<div class="col-md-3"></div>
			<div class="alert alert-success col-md-6" id="result">
			<strong>You win!</strong> The answer is <strong>"{{ game.word }}"</strong>.
			</div>
			<div class="col-md-3"></div>
			{% if endgame_message %}
				<div class="alert alert-warning col-md-6"> {{ endgame_message }}</div>
			{% endif %}

		{% elif game.status == 'lose' %}
			<div class="col-md-3"></div>
			<div class="alert alert-danger col-md-6" id="result">
			<strong>You lose!</strong> The answer is <strong>"{{ game.word }}"</strong>.
			</div>
			<div class="col-md-3"></div>
			{% if endgame_message %}
				<div class="alert alert-warning col-md-6"> {{ endgame_message }}</div>
			{% endif %}

		{% elif info_message %}
			<div class="alert alert-info col-md-6"> {{ info_message }}</div>

		{% endif %}
	
	</div>
	
{% endblock %}